<div class="header">
    <a href="/home" class="logo">k<span class="blue">b</span></a>
    <form class="inline" method="post" action="/search">
        <input id="searchBar" type="text" placeholder="Search.." name="search_keyword">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    <button class="inline" onclick="logout()">Logout</button>
    <div class="inline greetings">Hello {{userInfo.fname}} {{userInfo.lname}}</div>
</div>