<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />

    <title>Knowledge Base</title>
    <meta name="description" content="COMP4711 Term Project" />
    <meta name="author" content="Jason Jia" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/css/main.css" rel="stylesheet">
    {{#if loginCSS}}
    <link href='/css/login.css' rel='stylesheet' />
    {{/if}}
    {{#if homeCSS}}
    <link href='/css/home.css' rel='stylesheet' />
    {{/if}}
    {{#if postCSS}}
    <link href='/css/post.css' rel='stylesheet' />
    {{/if}}
    {{#if profileCSS}}
    <link href='/css/profile.css' rel='stylesheet' />
    {{/if}}
</head>

<body>
    {{{body}}}
</body>

</html>