<div class="container">
    <div class="left_div">
        <div class="title">Knowledge<span class="blue">Base</span></div>
        <div id="imageDiv"><img src="/image/knowledgeBase.png" alt="knowledgeBase" /></div>
    </div>

    <div class="right_div">
        <div id="loginDiv">
            <form id="loginForm" method="post" action="/login">
                <input type="email" name="email" placeholder="Username" value="test1@test.com" />
                <input type="password" name="password" placeholder="Password" value="password" />
                <input type="submit" class="button" value="Login" />
            </form>
            {{#if loginError}}
            <div class="red">Invalid username or password!</div>
            {{/if}}
        </div>

        <div class="subtitleDiv">
            <div>Join the worlds largest community for knowledge sharing</div>
        </div>

        <form id="signupForm" method="post" action="/signup">
            <div>
                <input type="text" id="fname" name="fname" placeholder="First name" required />
                <input type="text" id="lname" name="lname" placeholder="Last name" required />
            </div>
            <div>
                <input type="email" name="email" placeholder="Email" required />
            </div>
            <div>
                <input id="password" name="password" type="Password" placeholder="Password" required />
            </div>
            <div>
                <input id="confirm_password" name="confirm_password" type="Password" placeholder="Confirm password"
                    required />
            </div>
            {{#if signupError}}
            <div class="red">Email Address is Already Registered!</div>
            {{/if}}
            <input class="button" type="submit" value="Sign up" />
        </form>
    </div>
</div>

<script src="/js/login.js" defer></script>