{{>header}}


<div class="container">
    <div class="right_div">
        <div id="latest-post-div" >
            {{#each searchedPosts}}
                {{>eachPost}}
            {{/each}}
        </div>
    </div>
</div>

<div id="snackbar"></div>
<script src="/js/home.js" defer></script>
