{{>header}}

<div class="container">
    <div class="left_div textcenter">

    </div>
    <div class="right_div">
        <div class="chat-box-text">
            {{#each rows}}
            <img class="circle" src={{this.imgurl}} alt={{this.fname}} {{this.lname}} />
            <form class="chat-form">
                <input type="text" id="message-subject" placeholder="Subject" required>
                <textarea type="text" id="message-content" placeholder="Message" required></textarea>
                <button class="inline" type="submit" id="send-message-btn"
                    onclick="onSendInitialMessage(event, {{this.user_id}})">Send</button>
            </form>
            {{/each}}
        </div>

    </div>
</div>

<script src="/js/messages.js" defer></script>