.edit_profile_div {
  margin-top: 50px;
  text-decoration: underline;
}

table.link {
  margin: 10% 0 0 40%;
  text-align: left;
}

.left_div {
  float: left;
  width: 20%;
  overflow: hidden;
  min-height: 75vh;
  padding: 50px;
  margin-right: 10px;
  background: #fafafa;
}

.right_div {
  width: auto;
  overflow: hidden;
  min-height: 75vh;
  padding: 50px;
  margin: 10px;
  background: #fafafa;
}

.right_div input[type="text"],
select,
textarea {
  width: 50%;
  padding: 12px 20px;
  margin: 20px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button#submitPostBtn {
  width: 50%;
  background: #2196f3;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button#submitFilterBtn:hover {
  background-color: #0b7dda;
}

select#filter {
  width: 25%;
  display: inline;
}

button#submitFilterBtn {
  width: 20%;
  background: #2196f3;
  color: white;
  padding: 10px 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button#submitPostBtn:hover {
  background-color: #0b7dda;
}

#pageDiv {
  width: 50%;
}

.pagingButton {
  width: 120px;
  color: #0b7dda;
  font-size: 1em;
  cursor: pointer;
}

.pagingButton:hover {
  color: #2196f3;
}

#lastPageButton {
  float: left;
}

#nextPageButton {
  float: right;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #0b7dda;
  color: white;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
