html,
body {
  font-family: "Roboto Slab", serif;
}

.button {
  background-color: #2196f3;
  border: 1px solid white;
  border-radius: 2px;
  color: white;
  padding: 8px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: white;
  color: black;
  border: 1px solid #2196f3;
}

.leftDiv {
  float: left;
  width: 35%;
  overflow: hidden;
  margin-right: 5%;
}

.rightDiv {
  width: 45%;
  overflow: hidden;
}

.blue {
  color: #2196f3;
}

.title {
  font-size: 40px;
  margin: 20% 0 5% 20%;
  text-align: left;
}

input {
  padding: 6px 12px;
  font-size: 15px;
  margin: 12px 4px;
  box-sizing: border-box;
  border-radius: 2px;
  border: 1px solid #555;
}
