.post-block{
    margin: 20px;
    display: -webkit-box;
}

.grey{
    color: slategray;
}

.post-text-block{
    margin: 10px;
    width:400px;
    min-height: 120px;
}

.post-title{
    font-size: 1.2em;
}

.post-topic{
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid skyblue;
    float:right;
}

.post-detail{
    margin: 5px;
    padding-left: 10px;
    font-size: 1em;
    min-height: 3em;
}

.post-date{
    float:left;
    font-size: 1em;
}

.post-replies-btn{
    float:right;
    /* text-decoration: none; */
}
.reply-block{
    padding-left: 100px;
}

.reply-avatar{
    width: 80px;
    height: 80px;
}