div.logo {
  padding: 50px;
  font-size: 50px;
  font-weight: bold;
  display: inline;
}

.container {
  margin: auto;
}

button.inline {
  margin: 20px 50px;
  width: 150px;
  padding: 10px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  float: right;
}

.like {
  text-align: center;
  width: 20px;
  height: 20px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  /* float: right; */
  /* display: inline-block; */
  border-radius: 50%;
}

likePara {
  /* float: left; */
  /* display: inline-block; */
}

#post-div .circle {
  width: 60%;
}

.greetings {
  float: right;
  margin: 30px 50px;
}

.inline input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  width: 25%;
  background: #f1f1f1;
  margin: 0;
}

.inline button {
  width: 60px;
  padding: 10px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

.inline button:hover,
button.inline:hover {
  background: #0b7dda;
}

.edit_profile_div {
  margin-top: 50px;
  text-decoration: underline;
}

table.link {
  margin: 10% 0 0 40%;
  text-align: left;
}

.top_div {
  margin: 0 auto;
  float: top;
  width: 60%;
  min-height: 20vh;
  padding: 50px;
  display: flex;
  
  background: #fafafa;
}

.bottom_div {
  margin: 0 auto;
  width: 60%;
  padding: 50px;
  background: #fafafa;
  display: flex;
  float: bottom;
  justify-content: center;
  /* align-items: center; */
}

.center_div {
  display: inline-block;
  background: #fafafa;
}


.left_div {
  float: left;
  width: 80%;
  padding-left:50px;
  background: #fafafa;
}

.right_div {
  float: right;
  width: auto;
  margin-left: 15%;
  margin-top: 5%;
  padding-right:50px;
  background: #fafafa;
}


#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #0b7dda;
  color: white;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
